r/uploads/
backend/libraries/config.php
backend/uploads/
config.php
mis/config.php
mis/assets/js/jsPDF-master/
.idea/
.vscode
hr/
hr/vendor/
hr/public/vendor
hr/public/uploads
hr/app/uploads
hr/app/config/config.php
.idea/
hr/public/info.php
hr/composer.lock
hr/public/php_errors.log
hr/components/
hr/dev_resources_archive/
hr/bfg.jar
hr/filetmp/