::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.sticky {
    position: fixed;
    z-index: 999999999999 !important;
    margin: 0 25px 25px 25px !important;
}
img.card-img-top {
    height: 237.18px !important;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 355px;
    width: 1270px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 355px;
    width: 1270px;
}