::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.notifyjs-bootstrap-base {
    font-weight: lighter !important;
    font-size: small;
}

.sign-in-form {
    margin:0.1% auto !important;
}

.notifyjs-bootstrap-base {
    font-weight: lighter !important;
}

.dropdown-menu {
    width: 350px !important;
}

.toolbar.navbar-mobile.navbar-tablet {
    background-color: #970908 !important;
}

.top-toolbar {
    background-color: #635ebe !important;
}

/*
.sidebar {
    display: none;
}
*/

.side_active span {
    font-weight: 600;
}